{% extends "base.html" %} <!-- This file inherits base.html --> 
{% block title %}SpaceXhibit - Capsules{% endblock %} <!-- This is the Jinja syntax -->

{% block content %} <!-- This is the content block, whatever you include here will be visible on the screen -->
<br/>
<header>
    <h2> Capsules </h2>
    <p>
        These are the capsules that own by SpaceX Rockets.
    </p>
</header>

<table class = "table table-hover table-sm" style="text-align: center;">
    <thead>
        <tr class = "table-active">
            <th>Serial</th>
            <th>Status</th>
            <th>Reuse Count</th>
            <th>Water Landings</th>
            <th>Land Landings</th>
        </tr>
    </thead>
    <tbody>
        {% for capsule in capsules %}
    <tr class>
        <td>
            {{"-" if capsule["serial"] == None else capsule["serial"]}}
        </td>
        <td>
            {{"-" if capsule["status"] == None else capsule["status"]}}
        </td>
        <td>
            {{capsule["reuse_count"]}}
        </td>
        <td>
            {{capsule["water_landings"]}}
        </td>
        <td>
            {{capsule["land_landings"]}}
        </td>
    </tr>
    {% endfor %}
</table>

<!-- This endblock denotes the end of the content block, nothing should come after it-->
{% endblock %}

